apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: ${APPCOMPANYK8S}-${APP_NAME}
    app.kubernetes.io/version: ${CI_COMMIT_SHORT_SHA}
    app.kubernetes.io/managed-by: ci
    app.kubernetes.io/component: service
    app.kubernetes.io/part-of: ${APPCOMPANYK8S}-${APP_NAME}-svc
  name: ${APPCOMPANYK8S}-${APP_NAME}-svc
spec:
  type: NodePort
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  selector:
    app: ${APP_NAME}